.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a2633;
  
    
    width: 99svw;
    height: 65svh;
    margin: 0 ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
    border: 1px solid #343a40;
    width: 300px;
    height: 600px;
    ;
  }
  .canvas-wrapper {
    position: relative;
    width: 300px;
    height: 600px;
    /*padding-bottom: 66.67%; /* Aspect ratio: (height / width) * 100% */
    overflow: hidden;
  }